/* Utils */

.u-full-width{
	width: 100%;
}

.no-mt{
	margin-top: 0;
}

.no-mb {
	margin-bottom: 0;
}

/* Bootstrap Overide */
.form-control {
	border-radius: 0;
}

.btn {
    border-radius: 0;
}

.btn-primary {
	background: #4CAF50;
	font-weight: 600;
}

/* Layout Style */
body {
	background: #fafafa url('images/topography.png');
	font-family: 'Titillium Web', sans-serif;
}

a {
	color: #512DA8;
}

a:hover {
	color: #010101;
}

*:hover {
	transition: ease-in all 0.2s;
}

.fb-login-button {
	background: #4267b2;
	text-align: center;
}

.header {
	background: #512DA8;
	color: #fff;
	padding: 1rem;
	margin-bottom: 3rem;
}

.site-title {
	font-weight: 300;
	margin: 0;
	font-size: 2.5rem;
}

	.header a {
		color: #fff;
		text-decoration: none;
	}

	 .header a:hover {
		color: #FFEB3B;
		transition: ease-in all 0.3s;
	}

.form-area {
	background: #fff;
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	padding: 2rem;
}

.form-area .input-group {
	margin-bottom: 2rem;
}

.input-group {
	margin-bottom: 2rem;
}

.btn-login, .btn-register {
    width: 100%;
}

.widget-title {
	font-weight: 300;
	margin-top: 0;
	margin-bottom: 1.7rem;
}

.wrap {
  min-height: 50vh;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.todo-list {
	width: 50%;
	background: #fff;
	border: 1px solid #ececec;
	padding: 2rem 1rem;
}

.todo-title {
	margin-left: 1rem;
	font-weight: 300;
	font-size: 1.7rem;
}

.todo-item {
	position: relative;
	border-bottom: 1px solid #c0bde8;
	padding: 0.5rem 0;
}

.todo-item:before {
	position: absolute;
	content: " ";
	width: 3px;
	height: 20px;
	// background: #ddd;
}

.todo-item.level-warning:before {
	background: #FFC107;
}

.todo-item.level-danger:before {
	background: #E64A19;
}

.todo-item.level-ok:before {
	background: #388E3C;
}

.todo-modify {
	opacity: 0;
	position: absolute;
	right: 0;
	top: 5px;
}

.todo-modify .modify-menu {
	margin-right: 0.5rem;
}

.todo-modify .modify-menu:last-of-type {
	margin-right: 0;
}

.todo-item:hover .todo-modify {
	transition: ease-in all 0.2s;
	opacity: 1;
}

.done-item {
	text-decoration: line-through;
	color: #ccc;
}

	.todo-item:first-of-type {
		padding-top: 0;
	}

	.todo-item:last-of-type {
		// border: 0;
	}

.todo-item label {
	margin-bottom: 0;
}

input.todo-check {
	margin: 0;
}

nav.todo-menu ul {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}

nav.todo-menu ul li {
	font-weight: 500;
	font-size: 1.8rem;
	display: inline-block;
	margin-right: 2rem;
}

nav.todo-menu ul li:last-of-type {
	margin-right: 0;
}

.radio-item {
	margin-right: 1rem;
}

/* Snackbar */
#snackbar {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
}

#snackbar.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: .1em; left: .1em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #09ad7e;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}